{{outlet}}

{{#if notEmpty}}
  <table class="table">
    <thead>
      <tr>
        <th class="col-md-1">ID</th>
        <th class="col-md-3">Username</th>
        <th class="col-md-3"><!-- Edit Controls --></th>
      </tr>
    </thead>
    <tbody>
      {{#each controller as |user|}}
        <tr>
          <th scope="row">{{user.model.id}}</th>
          <td>
            {{#view 'inline-text-field' valueBinding=user.model.name}}
              {{user.model.username}}
            {{/view}}
          </td>
          <!-- <td {{action 'toggleEdit' onEvent='doubleClick'}}> -->
            <!-- {{#view 'inline-text-field' valueBinding=user.model.netid}} -->
              <!-- {{user.model.netid}} -->
            <!-- {{/view}} -->
          <!-- </td> -->
          <td>
            <button {{action 'destroy'}} class="btn btn-default">Destroy</button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/if}}
